.plupload-uploader-widget {
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC;
  padding: 10px;
  background-color: #F9F9F9;
}
.plupload-uploader-widget .button {
  background: url("images/buttons.png") no-repeat -181px center;
  border: 1px solid #BABABA;
  border-radius: 3px 3px 3px 3px;
  color: #42454A;
  display: inline-block;
  font: 12px sans-serif;
  margin-right: 4px;
  outline: 0 none;
  padding: 2px 8px 3px 20px;
  text-decoration: none;
}
.plupload-uploader-widget .removeFile{
  background: url("images/delete.gif") no-repeat center center;
  border: none;
}
.plupload-uploader-widget .removeFile span {
  text-indent: -9999px;
  font-size: 0px;
}
#error-container div {
  color: #c52020;
}